<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link href="/stylesheets/project.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="container">
  
  <div class="content" id="content">
    <h1>Welcome!</h1>
    <p>Please select a tutorial from those listed below.</p>
    <ul class="nav">
      <li onclick="setPage()"><a href="#">DummyTutorial1</a></li>
	  <li onclick="setPage()">DummyTutorial1</li>
      <li onclick="setPage()"><a href="#">DummyTutorial2</a></li>
      <li onclick="setPage()"><a href="#">DummyTutorial3</a></li>
      <li onclick="setPage()"><a href="#">DummyTutorial4</a></li>
    </ul>
  </div>
</div>

</body>
</html>

