<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link href="/stylesheets/project.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="container">
  
  <div class="content" id="content">
    <h1>Matrix multiplication</h1>
    <h4>Step One</h4>
    <p>Ensure that the two matrices are able to be multiplied together. If the number of columns on the left hand matrix is equal to the number of rows on the right hand matrix, the two are compatible for multiplication</p>
    <h4>Step Two</h4>
    <p>Set up an empty matrix with dimensions taken from the two to be multiplied. It should have as many rows as the left hand matrix and as many columns as the right hand matrix.</p>
    <h4>Step Three</h4>
    <p>Multiply the matrices row by column. Take a row from the left hand matrix, and a column from the right hand matrix. Multiply coresponding values, eg first value from the row against the first value from the column and so on. These values should then be added together.</p>
    <h4>Step Four</h4>
    <p>The value that was just created should then be inserted into the corresponding location on the empty matrix. If the value came from the first row of the left hand matrix and the third column of the right hand matrix, then it should go in the first row and third column of the empty matrix.</p>
    <h4>Step Five</h4>
    <p>Repeat until you have multipled each column from the right hand matrix and every row from the left hand column. This should have filled in every value in what was once the empty matrix, giving the product of the two matrices.</p>
  </div>
</div>

</body>
</html>

